.grid-1-4 {
  width: 100%;
  float: left; }
  @media (min-width: 992px) {
    .grid-1-4 {
      width: 25%; } }

.red-theme {
  background-color: red; }

.container .section {
  background-color: #FADADE;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BADA55), to(#FADADE));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #BADA55, #FADADE);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #BADA55, #FADADE);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #BADA55, #FADADE);
  /* IE10 */
  background-image: -o-linear-gradient(top, #BADA55, #FADADE);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #BADA55, #FADADE);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='$fromColor', EndColorStr='$toColor'); }
  .container .section img {
    width: 100%; }
    @media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
      .container .section img {
        content: url("http://dsx.weather.com/util/image/w/68a62f4e-122e-4c72-91b2-ec9f5024e031.jpg?api=7db9fe61-7414-47b5-9871-e17d87b8b6a0&h=598&w=640&v=at"); } }
